<div class="container">
  <div class="category-banner">

    <div class="introduction-text">
      <h3>
        simple answers to those "i don't know" moments... <br>
      </h3>
    </div>
    <div class="sub-header-text">
      <p> Discover answers by category:</p>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-4 col-md-3">
        <div class="card travel-colored red-border-top" >
          <div class="card-description">
            <h2>Travel</h2>
            <p>where should I explore next</p>
          </div>
          <%= link_to "", travel_index_path, :class => "card-link" %>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-3">
        <div class="card career-colored orange-border-top" >
          <div class="card-description">
            <h2>Career</h2>
            <p>where can I add value</p>
          </div>
          <%= link_to "", career_path, :class => "card-link" %>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-3">
        <div class="card soul-colored yellow-border-top" >
          <div class="card-description">
            <h2>Soul</h2>
            <p>what should I do with my time</p>
          </div>
          <%= link_to "", soul_path, :class => "card-link" %>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-3">
        <div class="card money-colored green-border-top" >
          <div class="card-description">
            <h2>Money</h2>
            <p>how do I afford what I need</p>
          </div>
          <%= link_to "", money_path, :class => "card-link" %>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-3">
        <div class="card health-colored blue-border-top" >
          <div class="card-description">
            <h2>Health</h2>
            <p>how to be my healthiest self</p>
          </div>
          <%= link_to "", health_path, :class => "card-link" %>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-3">
        <div class="card relationship-colored purple-border-top" >
          <div class="card-description">
            <h2>Relationships</h2>
            <p>build meaningful connections</p>
          </div>
          <%= link_to "", relationships_path, :class => "card-link" %>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-3">
        <div class="card product-colored pink-border-top" >
          <div class="card-description">
            <h2>Products</h2>
            <p>what is worth my money</p>
          </div>
          <%= link_to "", products_path, :class => "card-link" %>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-3">
        <div class="card homelife-colored gray-border-top" >
          <div class="card-description">
            <h2>Homelife</h2>
            <p>what makes a home</p>
          </div>
          <%= link_to "", household_path, :class => "card-link" %>
        </div>
      </div>
    </div>
  </div>
  <div class="home-featured-articles">
    <div class="sub-header-text">
      <p> Top Articles this Month </p>
    </div>
    <div class="row">
      <div class="col-xs-6">
        <div class="row">
          <div class="col-xs-12 col-md-3">
            <div class="featured-card red-fill travel-colored" >
              <div class="featured-card-description">
                <p>where should I explore next</p>
                <p>Travel</p>
              </div>
              <a class="featured-card-link" href="#" ></a>
            </div>
          </div>
          <div class="col-xs-12 col-md-3">
            <div class="featured-card orange-fill career-colored" >
              <div class="featured-card-description">
                <p>where can I add value</p>
                <p>Career</p>
              </div>
              <a class="featured-card-link" href="#" ></a>
            </div>
          </div>
          <div class="col-xs-12 col-md-3">
            <div class="featured-card green-fill money-colored" >
              <div class="featured-card-description">
                <p>where can I add value</p>
                <p>Career</p>
              </div>
              <a class="featured-card-link" href="#" ></a>
            </div>
          </div>
          <div class="col-xs-12 col-md-3">
            <div class="featured-card purple-fill relationship-colored" >
              <div class="featured-card-description">
                <p>where can I add value</p>
                <p>Career</p>
              </div>
              <a class="featured-card-link" href="#" ></a>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-md-3">
            <div class="featured-card pink-fill product-colored" >
              <div class="featured-card-description">
                <p>where can I add value</p>
                <p>Career</p>
              </div>
              <a class="featured-card-link" href="#" ></a>
            </div>
          </div>
          <div class="col-xs-12 col-md-3">
            <div class="featured-card blue-fill health-colored" >
              <div class="featured-card-description">
                <p>where can I add value</p>
                <p>Career</p>
              </div>
              <a class="featured-card-link" href="#" ></a>
            </div>
          </div>
          <div class="col-xs-12 col-md-3">
            <div class="featured-card gray-fill homelife-colored">
              <div class="featured-card-description">
                <p>where can I add value</p>
                <p>Career</p>
              </div>
              <a class="featured-card-link" href="#" ></a>
            </div>
          </div>
          <div class="col-xs-12 col-md-3">
            <div class="featured-card yellow-fill soul-colored" >
              <div class="featured-card-description">
                <p>where can I add value</p>
                <p>Career</p>
              </div>
              <a class="featured-card-link" href="#" ></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

